/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Custom background */
    color: #333; /* Font color */
    margin: 0;
    padding: 0;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: #cce7ff;
}

/* Sections */
.section1, .section2, .section3, .section4 {
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #aaa;
    border-radius: 10px;
    width: 80%;
    background-color: #fff;
}

/* Images */
/* img {
    display: block;
    margin: 10px auto;
    max-width: 5%;
} */

/* Navigation links */
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

nav a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    margin: 20px;
}
/* 
.center-img {
  display: block;
  margin: 10px auto;
  max-width: 300px;
  width: auto;
  height: auto;
} */
